:root {
    --cube-width: 1400px;
    --cube-height: 700px;
    --cube-depth: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, #030020 0%, #020018 50%, #03001f 100%);
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 200vh;
}

header {
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
    border-bottom: 1px solid #00FFBB;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-left: 1rem;
    max-width: 100%;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 1rem;
}

.logo {
    height: 40px;
    width: auto;
    margin-top: 0.1rem;
}

nav .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    flex-grow: 1;
}

nav .nav-links li {
    margin: 0 1rem;
}

nav .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

#background {
    position: relative;
    width: 100%;
}

#nightSky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    z-index: 1;
}

#canvasOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    z-index: 2;
    background: transparent;
}

#home {
    position: relative;
    overflow: hidden;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
}

.text-container {
    display: inline-block;
    background: rgba(200, 200, 200, 0.05);
    border-radius: 15px;
    padding: 1rem 2rem 1rem 2rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: auto;
    max-width: 100%;
    z-index: 100;
}

.intro h1 {
    font-size: 3rem;
    margin: 0;
}

.intro .highlight {
    color: #00FFBB;
    border: none;
    -webkit-text-stroke: 1px #00FFBB;
    color: transparent;
    font-size: 2.5rem;
}

.hexagon {
    height: 60px;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: transform 0.5s;
}

.hexagon .face {
    position: absolute;
    width: 450px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0rem;
    background: transparent;
    color: #00FFBB;
    font-size: 1.8rem;
    font-weight: bold;
    backface-visibility: hidden;
    border: 1px solid transparent;
}

.emptySpace {
    height: 20rem;
}

section {
    flex: 1;
}

.hexagon-container {
    height: 60px;
    overflow: hidden;
}

.tape {
    position: fixed;
    top: 0;
    right: 0;
    width: 120%;
    transform: rotate(-25deg);
    background-color: #FFC107;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #000;
    transform-origin: top right;
}

.tape span {
    display: block;
    width: 100%;
}

/* 3D Glass Cube */
.glass-container {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 5rem;
    height: 100vh;
    perspective: 2500px;
}

.glass-cube {
    width: var(--cube-width);
    height: var(--cube-height);
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(10deg);
    transition: transform 1s ease;
}

.glass-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px) saturate(180%);
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.3),
        inset 0 0 10px rgba(255, 255, 255, 0.2),
        inset 0 -8px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Smaller shine effect for front and back faces */
/*.glass-face.front::before, .glass-face.back::before {*/
.glass-face.front::before {
    content: '';
    position: absolute;
    top: 10;
    right: -30px; /* Start slightly off-screen */
    width: 200px; /* Smaller width for the shine */
    height: 150%; /* Cover the height with a small buffer */
    background: linear-gradient(120deg, rgba(20, 20, 20, 0.1) 0%, rgba(56, 56, 56, 0.1) 50%, rgba(20, 20, 20, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px) saturate(180%);
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.3),
        inset 0 0 10px rgba(255, 255, 255, 0.2),
        inset 0 -8px 10px rgba(0, 0, 0, 0.2);
    transform: rotate(10deg); /* Slight angle */
    animation: shine 10s infinite ease-in-out; /* Animation duration adjusted */
    pointer-events: none;
}



@keyframes shine {
    0% {
        transform: translateX(1000%) rotate(10deg); /* Start from the right */
    }
    100% {
        transform: translateX(-5000%) rotate(10deg); /* Move to the left */
    }
}

/* Front and Back Faces */
.glass-face.front, .glass-face.back {
    width: var(--cube-width);
    height: var(--cube-height);
}

.glass-face.front {
    transform: translateZ(calc(var(--cube-depth) / 2));
}

.glass-face.back {
    transform: rotateY(180deg) translateZ(calc(var(--cube-depth) / 2));
}

/* Left and Right Faces */
.glass-face.left, .glass-face.right {
    width: var(--cube-depth);
    height: var(--cube-height);
}

.glass-face.left {
    transform: rotateY(-90deg) translateZ(calc(var(--cube-depth) / 2));
}

.glass-face.right {
    transform: rotateY(90deg) translateZ(calc(var(--cube-width) / 1 - var(--cube-depth) / 2));
}

/* Top and Bottom Faces */
.glass-face.top, .glass-face.bottom {
    width: var(--cube-width);
    height: var(--cube-depth);
}

.glass-face.top {
    transform: rotateX(90deg) translateZ(calc(var(--cube-depth) / 2));
}

.glass-face.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--cube-height) / 1 - var(--cube-depth) / 2));
}

/* Text styles for the faces */
.glass-face {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1550px) {
    :root {
        --cube-width: 1150px;
        --cube-height: 600px;
    }
}

@media (max-width: 1280px) {
    .intro {
        padding: 1.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .intro h1 {
        font-size: 3rem;
    }

    .intro .highlight {
        font-size: 2.5rem;
    }

    .hexagon .face {
        font-size: 1.8rem;
    }

    :root {
        --cube-width: 950px;
        --cube-height: 500px;
    }
}

@media (max-width: 1024px) {
    :root {
        --cube-width: 700px;
        --cube-height: 400px;
    }
}

@media (max-width: 768px) {
    .intro {
        padding: 1.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .intro h1 {
        font-size: 2.5rem;
    }

    .hexagon .face {
        font-size: 1.5rem;
    }

    .text-container {
        padding: 1rem;
    }

    :root {
        --cube-width: 600px;
        --cube-height: 350px;
    }
}

@media (max-width: 666px) {
    :root {
        --cube-width: 450px;
        --cube-height: 250px;
    }
}

@media (max-width: 480px) {
    .intro {
        padding: 1rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .intro h1 {
        font-size: 2.5rem;
    }

    .hexagon .face {
        font-size: 1.3rem;
    }

    .hexagon-container {
        margin-top: 0rem;
    }

    :root {
        --cube-width: 350px;
        --cube-height: 200px;
    }
}
